.menubar-trigger {
  @apply px-3 py-1.5 flex rounded-sm outline-none select-none items-center leading-none;

  &[data-highlighted],
  &[data-state='open'] {
    @apply overlay;
  }

  &:hover,
  &:focus {
    @apply text-active overlay;
  }
}

.menu-content,
.menu-sub-content {
  @apply bg-secondary drop-shadow-lg p-1 z-10 rounded-sm no-drag;
  min-width: 200px;
  will-change: transform, opacity;
  border: 1px solid var(--border-color);
}

.menu-item,
.menu-sub-trigger,
.menu-checkbox-item,
.menu-radio-item {
  all: unset;
  @apply flex justify-between gap-4 text-color items-center relative h-8;
  line-height: 1;
  padding: 0 30px;
  user-select: none;
}

.menu-item[data-state='open'],
.menu-sub-trigger[data-state='open'] {
  @apply overlay;
}

.menu-item[data-highlighted],
.menu-sub-trigger[data-highlighted],
.menu-checkbox-item[data-highlighted],
.menu-radio-item[data-highlighted] {
  @apply text-active overlay;
}

.menu-item[data-disabled],
.menu-sub-trigger[data-disabled],
.menu-checkbox-item[data-disabled],
.menu-radio-item[data-disabled],
.menubar-trigger[data-disabled] {
  @apply opacity-50 pointer-events-none;
}

.menu-item-indicator {
  @apply inline-flex absolute left-0 items-center justify-center rtl:right-0 rtl:left-auto w-8;
}

.menu-separator {
  @apply h-divider mx-0;
}

.sub-menu-chevron {
  @apply mr-[-1rem] rtl:ml-[-1rem] rtl:mr-auto;
  color: inherit;
}

.select-content {
  min-width: 127px;
  max-height: 80vh;
}

.select-item {
  @apply px-2;
}
