.document-tab {
  @apply button flex items-center h-full mr-px text-left bg-primary gap-2 opacity-50 hover:bg-primary relative;
  padding: 0 8px 0 16px;
  flex: 0 1 130px;

  .close-document-button {
    @apply icon-button invisible;

    .circle {
      @apply small absolute inset-0 text-center bg-primary;
    }

    &:hover {
      .circle {
        @apply hidden;
      }
    }
  }

  &:hover,
  &.active,
  &:not(.saved) {
    .close-document-button {
      @apply visible;
    }
  }

  &:active {
    @apply bg-primary;
  }

  &.active {
    @apply opacity-100;
  }

  .document-name {
    @apply overflow-hidden text-ellipsis pointer-events-none;
    flex: 1;
    white-space: nowrap;
  }
}
