.document-tab {
  @apply button flex items-center h-full mr-px text-left level-1 gap-2 opacity-50 hover:level-1;
  padding: 8px 8px 8px 16px;
  flex: 0 1 130px;

  .close-document-button {
    visibility: hidden;
  }

  &:hover,
  &.active {
    .close-document-button {
      visibility: visible;
    }
  }

  &:active {
    @apply level-1;
  }

  &.active {
    @apply opacity-100;
  }

  .document-name {
    @apply overflow-hidden text-ellipsis pointer-events-none;
    flex: 1;
    white-space: nowrap;
  }
}
