 
/.calva/
/.cpcache/
/.lsp/
/.vscode/
/resources/public/js/
/resources/public/css/
/resources/public/src/
/resources/*.js
/target/
/*-init.clj
/*.log

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo cache
/.clj-kondo/.cache

# Build
/dist/