
/.calva/
/.cpcache/
/.lsp/
/.shadow-cljs/
/.clj-kondo/.cache
/.clj-kondo/metosin/malli-types-cljs/

/resources/public/js/
/resources/public/css/
/resources/public/src/
/resources/*.js

/*-init.clj
/*.log

/node_modules/
/target/
/dist/
