{:paths ["src"]
 :deps {binaryage/devtools {:mvn/version "1.0.7"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        clj-kdtree/clj-kdtree {:git/url "https://github.com/abscondment/clj-kdtree.git"
                               :sha "5ec321c5e8006db00fa8b45a8ed9eb0b8f3dd56d"
                               :deps/manifest :deps}
        com.taoensso/tempura {:mvn/version "1.5.4"}
        day8.re-frame/test {:mvn/version "0.1.5"}
        day8.re-frame/tracing {:mvn/version "0.6.2"}
        day8/shadow-git-inject {:mvn/version "0.0.5"}
        metosin/malli {:mvn/version "0.19.1"}
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        org.clj-commons/hickory {:mvn/version "0.7.7"}
        org.clojure/math.combinatorics {:mvn/version "0.3.0"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.17"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        re-pressed/re-pressed {:mvn/version "0.3.2"}
        reagent/reagent {:mvn/version "2.0.0-alpha2"}
        replumb/replumb {:mvn/version "0.2.4"}
        thheller/shadow-cljs {:mvn/version "3.1.8"}}
 :aliases
 {:dev {:extra-paths ["test" "portfolio/src"]
        :extra-deps {cider/cider-nrepl {:mvn/version "0.57.0"}
                     day8.re-frame/re-frame-10x {:mvn/version "1.10.1"}
                     no.cjohansen/portfolio {:mvn/version "2025.01.28"}}}
  :format {:deps {dev.weavejester/cljfmt {:mvn/version "0.13.1"}}}
  :lint {:deps {clj-kondo/clj-kondo {:mvn/version "2025.07.26"}}}}}
