{:linters {:unsorted-required-namespaces {:level :warning}
           :unsorted-imports {:level :warning}
           :single-key-in {:level :warning}
           :shadowed-var {:level :warning}
           :aliased-namespace-symbol {:level :warning}
           :condition-always-true {:level :warning}
           :docstring-leading-trailing-whitespace {:level :warning}
           :equals-float {:level :warning}
           :def-fn {:level :warning}
           :reduce-without-init {:level :warning}
           :keyword-binding {:level :warning}
           :minus-one {:level :warning}
           :plus-one {:level :warning}
           :if-nil-return {:level :warning}
           :redundant-fn-wrapper {:level :warning}
           :self-requiring-namespace {:level :warning}
           :used-underscored-binding {:level :warning}
           :unused-value {:level :warning}
           :unused-alias {:level :warning}
           :redundant-call {:level :warning}
           :redundant-str-call {:level :warning}
           :line-length {:max-line-length 90
                         :exclude-urls true}
           :clojure-lsp/unused-public-var {:exclude-regex #{"pages.*"}}
           :consistent-alias {:level :warning
                              :aliases {clojure.core.matrix matrix
                                        clojure.core.matrix.stats mat.stats
                                        clojure.set set
                                        clojure.string string
                                        malli.core m
                                        re-frame.core rf
                                        reagent.core reagent}}}
 :hooks {:analyze-call {malli.core/=> hooks/=>}}}
