
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@theme {
  --text-2xs: 0.625rem;
  --text-2xs--line-height: 0.75rem;

  --transition-property-fill: fill;

  --inset-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 0.1);

  --font-sans: var(--sans);
  --font-mono: var(--mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-border: var(--border);

  --color-overlay: var(--overlay);

  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent-foreground: var(--accent-foreground);

  --color-foreground: var(--foreground-default);
  --color-foreground-disabled: var(--foreground-disabled);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-hovered: var(--foreground-hovered);

  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-success: var(--success);

  --color-backdrop: var(--backdrop);
}
