.timeline-editor {
  @apply level-1 w-full !important;
  height: 200px !important;
  font-family: inherit !important;
 }

 .timeline-editor-action {
  @apply level-2 !important;

  &-selected {
    @apply level-3 !important;
  }
}

.timeline-editor-cursor {
  border-color: var(--accent) !important;
}

.timeline-editor-cursor-top path {
  fill: var(--accent) !important;
}

.timeline-editor-edit-row {
  background-image: linear-gradient(var(--level-1), var(--level-1)), 
                    linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 0) !important;
}
