.palette {
  flex: 0 1 210px;
}

.color-rect {
  width: 33px;
  height: 33px;
  border: 1px solid var(--border-color);
}

.color-drip {
  box-sizing: content-box;
  width: 16px;
  max-width: 16px;
  height: 16px;
  flex: 1;
}


