[cmdk-item],
[cmdk-empty] {
  @apply flex px-3 py-2;

  &[data-selected="true"] {
    @apply overlay;
  }
}

[cmdk-input] {
  @apply p-3 bg-secondary;

  border-bottom: 1px solid var(--border-color)
}

[cmdk-overlay] {
  @apply backdrop;

  background-color: var(--backdrop);
}

[cmdk-list] {
  max-height: 300px;
  overflow: auto;
}
