.attribute-grid {
  @apply grid grid-cols-2 grid-flow-row my-px w-full gap-px;
  grid-template-columns: minmax(100px, auto) 1fr;

  .button {
    &:focus {
      @apply outline-none outline-shadow;
    }

    &:active {
      @apply shadow-none;
    }
  }
}

.support-cell {
  @apply text-2xs p-px m-px;
}

.form-input {
  .clear-input-button {
    visibility: hidden;
  }

  &:hover,
  &:active {
    .clear-input-button {
      visibility: visible;
    }
  }
}
