.rd3t-node,
.rd3t-leaf-node {
    circle {
        stroke: var(--border-color);
    }

    &:hover {
        circle {
            stroke : var(--accent);
        }
    }
}

.rd3t-link {
    stroke : var(--border-color) !important;
    stroke-width: 3;
}

.rd3t-label__title {
    font-weight: normal !important;
    fill: inherit !important;
}
