.CodeMirror-selected {
    @apply overlay !important;
}

.CodeMirror-cursor {
    border-left: 1px solid var(--font-color) !important;
    height: 16px !important;
}

.CodeMirror-matchingbracket {
    @apply overlay !important;
    text-decoration: none !important;
}

.CodeMirror-wrap {
    @apply form-element p-0;

    pre {
        word-break: break-word !important;
    }
}

.CodeMirror-gutters {
    @apply level-0 !important;
}

.CodeMirror {
    @apply font-mono h-auto z-0;
    background: transparent !important;
}
