.dialog-content {
  @apply fixed bg-secondary rounded-lg overflow-hidden shadow-xl border border-default;
  ;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialog-cmdk-content {
  top: 33px;
  transform: translate(-50%, 0);
}

[cmdk-item],
[cmdk-empty] {
  @apply flex p-2 rounded items-center text-sm;

  &[data-selected="true"] {
    @apply overlay;
  }
}

[cmdk-input] {
  @apply p-3 bg-secondary text-sm;
  border-bottom: 1px solid var(--border-color)
}

[cmdk-list] {
  @apply p-1 overflow-auto;
  max-height: 50vh;
}

[cmdk-group-heading] {
  @apply p-2 text-muted uppercase font-bold text-2xs;
}
