{:missing "Λείπει η μετάφραση για :el-GR"
 :cmdk
 {:search-command "Αναζήτηση για εντολή"
  :command-palette "Μενού εντολών"
  :no-results "Δεν βρέθηκαν αποτελέσματα."}
  
 :color
 {:swap "Ανταλλάξτε το γέμισμα με τη γραμμή"}}