{:missing "Λείπει η μετάφραση για :el-GR"
 :renderer.dialog.views
 {:search-command "Αναζήτηση για εντολή"
  :no-results "Δεν βρέθηκαν αποτελέσματα."}

 :color
 {:swap "Ανταλλάξτε το γέμισμα με τη γραμμή"}
 
 :renderer.menubar.views
 {:file          "Αρχείο"
  :new           "Νέο"
  :open          "Άνοιγμα..."
  :recent        "Πρόσφατα"
  :print         "Εκτύπωση"
  :save          "Αποθήκευση"
  :save-as       "Αποθήκευση ως..."
  :download      "Λήψη"
  :export-as-svg "Εξαγωγή ως SVG"
  :close         "Κλείσιμο"
  :exit          "Έξοδος"}}
