{:missing "Λείπει η μετάφραση για :el-GR"
 :renderer.dialog.views
 {:search-command "Αναζήτηση για εντολή"
  :no-results "Δεν βρέθηκαν αποτελέσματα."}

 :color
 {:swap "Ανταλλάξτε το γέμισμα με τη γραμμή"}
 
 :renderer.menubar.views
 {:file          "Αρχείο"
  :new           "Νέο"
  :open          "Άνοιγμα..."
  :recent        "Πρόσφατα"
  :print         "Εκτύπωση"
  :save          "Αποθήκευση"
  :save-as       "Αποθήκευση ως..."
  :download      "Λήψη"
  :export-as-svg "Εξαγωγή ως SVG"
  :close         "Κλείσιμο"
  :exit          "Έξοδος"
  :edit          "Επεξεργασία"
  :undo          "Αναίρεση"
  :redo          "Επαναφορά"
  :cut           "Αποκοπή"
  :copy          "Αντιγραφή"
  :paste         "Επικόλληση"
  :paste-in-place "Επικόλληση σε μέρος"
  :paste-styles  "Επικόλληση μορφοποιήσεων"
  :duplicate     "Δημιουργία αντιγράφου"
  :select-all    "Επιλογή όλων"
  :deselect-all  "Αποεπιλογή όλων"
  :invert-selection "Αντιστροφή επιλογής"
  :select-same-tags "Επιλογή ίδιων ετικετών"
  :delete        "Διαγραφή"}}
