{:missing "Missing translation for :en-US"
 :cmdk
 {:search-command "Search for a command"
  :command-menu "Command menu"
  :no-results "No results found."}
 
 :color
 {:swap "Swap fill with stroke"}}