{:missing "Missing translation for :en-US"
 :renderer.dialog.views
 {:search-command "Search for a command"
  :no-results "No results found."}

 :color
 {:swap "Swap fill with stroke"}

 :renderer.menubar.views
 {:file          "File"
  :new           "New"
  :open          "Open..."
  :recent        "Recent"
  :print         "Print"
  :save          "Save"
  :save-as       "Save as..."
  :donwload      "Download"
  :export-as-svg "Export as SVG"
  :close         "Close"
  :exit          "Exit"}}
