{:missing "Traduction manquante pour :fr-FR"

 :renderer.app.views
 {:lock "Verrouiller"
  :unlock "Déverrouiller"
  :svg-description "Manipulation de graphiques vectoriels évolutifs"
  :start "Commencer"
  :new "Nouveau"
  :or "ou"
  :open "Ouvrir"
  :recent "Récent"
  :select-size "Sélectionner la taille"
  :select-template "Sélectionner un modèle"
  :empty-canvas "Canevas vide"
  :help "Aide"
  :command-panel "Panneau de commandes"
  :website "Site web"
  :source-code "Code source"
  :changelog "Journal des modifications"}

 :renderer.tree.views
 {:lock "Verrouiller"
  :unlock "Déverrouiller"
  :show "Afficher"
  :hide "Masquer"}

 :renderer.reepl.views
 {:hide-command-output "Masquer la sortie des commandes"
  :show-command-output "Afficher la sortie des commandes"}

 :renderer.app.events
 {:create-doc "Créer un document"}

 :renderer.dialog.views
 {:search-command "Rechercher une commande"
  :no-results "Aucun résultat trouvé."
  :version "Version : "
  :browser "Navigateur : "
  :save "Enregistrer"
  :dont-save "Ne pas enregistrer"
  :cancel "Annuler"
  :close "Fermer"
  :ok "OK"
  :changes-will-be-lost [:p "Vos modifications de %1 seront perdues si vous
                             fermez le document sans l'enregistrer."]}

 :renderer.menubar.views
 {:file "Fichier"
  :new "Nouveau"
  :open "Ouvrir..."
  :recent "Récent"
  :recent-clear "Effacer les récents"
  :print "Imprimer"
  :save "Enregistrer"
  :save-as "Enregistrer sous..."
  :download "Télécharger"
  :export-as "Exporter sous"
  :close "Fermer"
  :exit "Quitter"
  :edit "Éditer"
  :undo "Annuler"
  :redo "Rétablir"
  :cut "Couper"
  :copy "Copier"
  :paste "Coller"
  :paste-in-place "Coller en place"
  :paste-styles "Coller les styles"
  :duplicate "Dupliquer"
  :select-all "Tout sélectionner"
  :deselect-all "Tout désélectionner"
  :invert-selection "Inverser la sélection"
  :select-same-tags "Sélectionner les mêmes balises"
  :delete "Supprimer"
  :object "Objet"
  :object-to-path "Objet vers chemin"
  :stroke-to-path "Contour vers chemin"
  :group "Grouper"
  :ungroup "Dégrouper"
  :lock "Verrouiller"
  :unlock "Déverrouiller"
  :align "Aligner"
  :align-left "Gauche"
  :align-right "Droite"
  :align-top "Haut"
  :align-bottom "Bas"
  :align-center-vertically "Centrer verticalement"
  :align-center-horizontally "Centrer horizontalement"
  :animate "Animer"
  :animate-transform "Animer la transformation"
  :animate-motion "Animer le mouvement"
  :boolean-operation "Opération booléenne"
  :boolean-exclude "Exclure"
  :boolean-unite "Unir"
  :boolean-intersect "Intersection"
  :boolean-subtract "Soustraire"
  :boolean-divide "Diviser"
  :raise "Remonter"
  :lower "Descendre"
  :raise-to-top "Remonter au premier plan"
  :lower-to-bottom "Descendre à l'arrière-plan"
  :image "Image"
  :image-trace "Vectoriser"
  :path "Chemin"
  :path-simplify "Simplifier"
  :path-smooth "Lisser"
  :path-flatten "Aplatir"
  :path-reverse "Inverser"
  :view "Affichage"
  :zoom "Zoom"
  :zoom-in "Agrandir"
  :zoom-out "Réduire"
  :zoom-set-50 "Définir à 50%"
  :zoom-set-100 "Définir à 100%"
  :zoom-set-200 "Définir à 200%"
  :zoom-focus-selected "Centrer sur la sélection"
  :zoom-fit-selected "Ajuster à la sélection"
  :zoom-fill-selected "Remplir avec la sélection"
  :accessibility-filter "Filtre d'accessibilité"
  :language "Langue"
  :grid "Grille"
  :rulers "Règles"
  :help-bar "Barre d'aide"
  :debug-info "Informations de débogage"
  :panel "Panneau"
  :panel-element-tree "Arbre des éléments"
  :panel-properties "Propriétés"
  :panel-xml-view "Vue XML"
  :panel-history-tree "Arbre d'historique"
  :panel-shell-history "Historique de l'interpréteur"
  :panel-timeline-editor "Éditeur de chronologie"
  :fullscreen "Plein écran"
  :help "Aide"
  :command-panel "Panneau de commandes"
  :website "Site web"
  :source-code "Code source"
  :license "Licence"
  :changelog "Journal des modifications"
  :privacy-policy "Politique de Confidentialité"
  :submit-an-issue "Signaler un problème"
  :about "À propos"}

 :renderer.menubar.filters
 {:blur "flou"
  :blur-x2 "flou-x2"
  :protanopia "protanopie"
  :protanomaly "protanomalie"
  :deuteranopia "deutéranopie"
  :deuteranomaly "deutéranomalie"
  :tritanopia "tritanopie"
  :tritanomaly "tritanomalie"
  :achromatopsia "achromatopsie"
  :achromatomaly "achromatoma­lie"}

 :renderer.element.events
 {:modify-selection "Modifier la sélection"
  :select-element "Sélectionner l'élément"
  :select-elements "Sélectionner les éléments"
  :delete-selection "Supprimer la sélection"
  :toggle "Basculer %1"
  :set "Définir %1"
  :lock-selection "Verrouiller la sélection"
  :unlock-selection "Déverrouiller la sélection"
  :remove "Supprimer %1"
  :update "Mettre à jour %1"
  :deselect-all "Tout désélectionner"
  :select-all "Tout sélectionner"
  :select-same-tags "Sélectionner les mêmes balises"
  :invert-selection "Inverser la sélection"
  :raise-selection "Remonter la sélection"
  :lower-selection "Descendre la sélection"
  :raise-selection-top "Remonter la sélection au premier plan"
  :lower-selection-bottom "Descendre la sélection à l'arrière-plan"
  :paste-selection "Coller la sélection"
  :paste-selection-in-place "Coller la sélection en place"
  :paste-styles-to-selection "Coller les styles à la sélection"
  :duplicate-selection "Dupliquer la sélection"
  :move-selection "Déplacer la sélection"
  :place-selection "Placer la sélection"
  :scale-selection "Redimensionner la sélection"
  :convert-selection-path "Convertir la sélection en chemin"
  :convert-selection-stroke-path "Convertir le contour de la sélection en
                                  chemin"
  :create "Créer %1"
  :import-svg "Importer SVG"
  :set-parent "Définir le parent"
  :group-selection "Grouper la sélection"
  :ungroup-selection "Dégrouper la sélection"
  :cut-selection "Couper la sélection"
  :trace-image "Vectoriser l'image"}

 :renderer.element.views
 {:cut "Couper"
  :copy "Copier"
  :paste "Coller"
  :raise "Remonter"
  :lower "Descendre"
  :raise-top "Remonter au premier plan"
  :lower-bottom "Descendre à l'arrière-plan"
  :animate "Animer"
  :animate-transform "Animer la transformation"
  :animate-motion "Animer le mouvement"
  :duplicate "Dupliquer"
  :delete "Supprimer"}

 :renderer.element.impl.shape.circle
 {:label "Cercle"
  :description "L'élément SVG <circle> est une forme de base SVG, utilisée pour
                dessiner des cercles basés sur un point central et un rayon."}

 :renderer.element.impl.shape.image
 {:label "Image"
  :description "L'élément SVG <image> inclut des images dans les documents SVG.
                Il peut afficher des fichiers d'images raster ou d'autres
                fichiers SVG."}

 :renderer.element.impl.shape.ellipse
 {:label "Ellipse"
  :description "L'élément <ellipse> est une forme de base SVG, utilisée pour
                créer des ellipses basées sur une coordonnée centrale et leurs
                rayons x et y."}

 :renderer.element.impl.shape.line
 {:label "Ligne"
  :description "L'élément <line> est une forme de base SVG utilisée pour créer
                une ligne reliant deux points."}

 :renderer.element.impl.shape.path
 {:label "Chemin"
  :description "L'élément SVG <path> est l'élément générique pour définir une
                forme. Toutes les formes de base peuvent être créées avec un
                élément path."}

 :renderer.element.impl.shape.polygon
 {:label "Polygone"
  :description "L'élément SVG <polygon> définit une forme fermée constituée d'un
                ensemble de segments de lignes droites connectés. Le dernier
                point est connecté au premier point."}

 :renderer.element.impl.shape.polyline
 {:label "Polyligne"
  :description "L'élément SVG <polyline> est une forme de base SVG qui crée des
                lignes droites reliant plusieurs points. Typiquement, une
                polyligne est utilisée pour créer des formes ouvertes car le
                dernier point n'a pas besoin d'être connecté au premier point."}

 :renderer.element.impl.shape.rect
 {:label "Rectangle"
  :description "L'élément <rect> est une forme SVG de base qui dessine des
                rectangles, définis par leur position, largeur et hauteur. Les
                rectangles peuvent avoir leurs coins arrondis."}

 :renderer.element.impl.custom.blob
 {:x "Coordonnée horizontale du centre du blob."
  :y "Coordonnée verticale du centre du blob."
  :seed "Une graine donnée produira toujours le même blob."
  :extra-points "Le nombre réel de points sera `3 + pointsSupplementaires`."
  :randomness "Augmente la quantité de variation dans la position des points."
  :size "La taille de la boîte englobante."
  :description "Blob basé sur des vecteurs."
  :generate-random-seed "Générer une graine aléatoire"}

 :renderer.element.impl.custom.brush
 {:label "Pinceau"
  :points "Points d'entrée enregistrés à partir du mouvement de la souris de
           l'utilisateur."
  :size "La taille de base (diamètre) du trait."
  :thinning "L'effet de la pression sur la taille du trait."
  :smoothing "Combien adoucir les bords du trait."
  :stream-line "Combien rationaliser le trait."
  :description "Dessinez des lignes à main levée sensibles à la pression en
                utilisant perfect-freehand."}

 :renderer.element.impl.container.canvas
 {:label "Canevas"
  :description "Le canevas est le conteneur SVG principal qui héberge tous les
                éléments."}

 :renderer.element.impl.container.svg
 {:description "L'élément svg est un conteneur qui définit un nouveau système de
                coordonnées et une fenêtre d'affichage. Il est utilisé comme
                élément le plus externe des documents SVG, mais il peut aussi
                être utilisé pour incorporer un fragment SVG dans un document
                SVG ou HTML."}

 :renderer.element.impl.text
 {:description "L'élément SVG <text> dessine un élément graphique constitué de
                texte. Il est possible d'appliquer un dégradé, un motif, un
                chemin de découpage, un masque ou un filtre à <text>, comme tout
                autre élément graphique SVG."
  :label "Texte"
  :remove-text "Supprimer le texte"
  :set-text "Définir le texte"}

 :renderer.attribute.views
 {:all "tout"
  :browser-compatibility "Compatibilité des navigateurs"
  :learn-more "En savoir plus"
  :specification "Spécification"
  :applies-to "S'applique à"
  :computed "Calculé"
  :percentages "Pourcentages"
  :animatable "Animable"
  :animationType "Type d'animation"
  :syntax "Syntaxe"
  :mdn-info "Infos MDN"
  :attributes-title "%1 %2 éléments"}

 :renderer.attribute.impl.core
 {:x "L'attribut x définit une coordonnée de l'axe x dans le système de
      coordonnées utilisateur."
  :y "L'attribut y définit une coordonnée de l'axe y dans le système de
      coordonnées utilisateur."
  :x1 "L'attribut x1 est utilisé pour spécifier la première coordonnée x pour
       dessiner un élément SVG qui nécessite plus d'une coordonnée. Les éléments
       qui n'ont besoin que d'une coordonnée utilisent l'attribut x à la place."
  :y1 "L'attribut y1 est utilisé pour spécifier la première coordonnée y pour
       dessiner un élément SVG qui nécessite plus d'une coordonnée. Les éléments
       qui n'ont besoin que d'une coordonnée utilisent l'attribut y à la place."
  :x2 "L'attribut x2 est utilisé pour spécifier la deuxième coordonnée x pour
       dessiner un élément SVG qui nécessite plus d'une coordonnée. Les éléments
       qui n'ont besoin que d'une coordonnée utilisent l'attribut x à la place."
  :y2 "L'attribut y2 est utilisé pour spécifier la deuxième coordonnée y pour
       dessiner un élément SVG qui nécessite plus d'une coordonnée. Les éléments
       qui n'ont besoin que d'une coordonnée utilisent l'attribut y à la place."
  :cx "L'attribut cx définit la coordonnée de l'axe x d'un point central."
  :cy "L'attribut cy définit la coordonnée de l'axe y d'un point central."
  :dx "L'attribut dx indique un décalage le long de l'axe x sur la position d'un
       élément ou de son contenu."
  :dy "L'attribut dy indique un décalage le long de l'axe y sur la position d'un
       élément ou de son contenu."
  :width "L'attribut width définit la longueur horizontale d'un élément dans le
          système de coordonnées utilisateur."
  :height "L'attribut height définit la longueur verticale d'un élément dans le
           système de coordonnées utilisateur."
  :rx "L'attribut rx définit un rayon sur l'axe x."
  :ry "L'attribut ry définit un rayon sur l'axe y."
  :r "L'attribut r définit le rayon d'un cercle."
  :rotate "L'attribut rotate spécifie comment l'élément animé tourne lorsqu'il
           se déplace le long d'un chemin spécifié dans un élément
           <animateMotion>."
  :stroke "L'attribut stroke est un attribut de présentation définissant la
           couleur (ou tout serveur de peinture SVG comme les dégradés ou les
           motifs) utilisé pour peindre le contour de la forme."
  :fill "L'attribut fill a deux significations différentes. Pour les formes et
         le texte, c'est un attribut de présentation qui définit la couleur (ou
         tout serveur de peinture SVG comme les dégradés ou les motifs) utilisé
         pour peindre l'élément ; pour l'animation, il définit l'état final de
         l'animation."
  :stroke-width "L'attribut stroke-width est un attribut de présentation
                 définissant la largeur du trait à appliquer à la forme."
  :stroke-dasharray "L'attribut stroke-dasharray est un attribut de présentation
                     définissant le motif de tirets et d'espaces utilisé pour
                     peindre le contour de la forme."
  :opacity "L'attribut opacity spécifie la transparence d'un objet ou d'un
            groupe d'objets, c'est-à-dire le degré auquel l'arrière-plan
            derrière l'élément est superposé."
  :id "L'attribut id attribue un nom unique à un élément."
  :class "Attribue un nom de classe ou un ensemble de noms de classes à un
          élément. Vous pouvez attribuer le même nom de classe ou noms à
          n'importe quel nombre d'éléments, cependant, plusieurs noms de classe
          doivent être séparés par des caractères d'espacement."
  :tabindex "L'attribut tabindex vous permet de contrôler si un élément est
             focalisable et de définir l'ordre relatif de l'élément pour les
             fins de navigation séquentielle de focus."
  :style "L'attribut style permet de styliser un élément en utilisant des
          déclarations CSS. Il fonctionne de manière identique à l'attribut
          style en HTML."
  :href "L'attribut href définit un lien vers une ressource comme une URL de
         référence. La signification exacte de ce lien dépend du contexte de
         chaque élément qui l'utilise."
  :attribute-name "L'attribut attributeName indique le nom de la propriété CSS
                   ou de l'attribut de l'élément cible qui va être modifié
                   pendant une animation."
  :begin "L'attribut begin définit quand une animation doit commencer."
  :end "L'attribut end définit une valeur de fin pour l'animation qui peut
        contraindre la durée active."
  :dur "L'attribut dur indique la durée simple d'une animation."
  :min "L'attribut min spécifie la valeur minimale de la durée d'animation
        active."
  :max "L'attribut max spécifie la valeur maximale de la durée d'animation
        active."
  :restart "L'attribut restart spécifie si une animation peut redémarrer ou
            non."
  :repeat-count "L'attribut repeatCount indique le nombre de fois qu'une animation
                 aura lieu."
  :repeat-dur "L'attribut repeatDur spécifie la durée totale pour répéter une
               animation."
  :calc-mode "L'attribut calcMode spécifie le mode d'interpolation pour
              l'animation."
  :values "L'attribut values a différentes significations, selon le contexte où
           il est utilisé, soit il définit une séquence de valeurs utilisées au
           cours d'une animation, soit c'est une liste de nombres pour une
           matrice de couleurs, qui est interprétée différemment selon le type
           de changement de couleur à effectuer."
  :key-times "L'attribut keyTimes représente une liste de valeurs temporelles
              utilisées pour contrôler le rythme de l'animation."
  :key-splines "L'attribut keySplines définit un ensemble de points de contrôle
                de courbe de Bézier associés à la liste keyTimes, définissant
                une fonction de Bézier cubique qui contrôle le rythme
                d'intervalle"
  :from "L'attribut from indique la valeur initiale de l'attribut qui sera
         modifié pendant l'animation."
  :to "L'attribut to indique la valeur finale de l'attribut qui sera modifié
       pendant l'animation."
  :by "L'attribut by spécifie une valeur de décalage relatif pour un attribut
       qui sera modifié pendant une animation."
  :additive "L'attribut additive contrôle si une animation est additive ou non."
  :accumulate "L'attribut accumulate contrôle si une animation est cumulative
               ou non."
  :view-box "L'attribut viewBox définit la position et la dimension, dans
             l'espace utilisateur, d'une fenêtre d'affichage SVG."
  :preserve-aspect-ratio "L'attribut preserveAspectRatio indique comment un
                          élément avec une viewBox fournissant un rapport
                          d'aspect donné doit s'adapter dans une fenêtre
                          d'affichage avec un rapport d'aspect différent."}

 :renderer.tool.impl.element.core
 {:help "Cliquez et faites glisser pour créer un élément."}

 :renderer.tool.impl.element.polyshape
 {:add-points "Cliquez pour ajouter plus de points."
  :finalize-shape "Double-cliquez pour finaliser la forme."
  :create-tool "Créer %1"}

 :renderer.tool.impl.element.rect
 {:label "Rectangle"
  :help [:div "Maintenez %1 pour verrouiller les proportions."]
  :create-rectangle "Créer un rectangle"}

 :renderer.tool.impl.element.svg
 {:label "SVG"
  :help [:div "Maintenez %1 pour verrouiller les proportions."]
  :create-svg "Créer un SVG"}

 :renderer.tool.impl.extension.blob
 {:label "Blob"
  :create-blob "Créer un blob"}

 :renderer.tool.impl.misc.dropper
 {:label "Pipette"
  :help "Cliquez n'importe où pour choisir une couleur."
  :pick-color "Choisir une couleur"}

 :renderer.tool.impl.misc.fill
 {:label "Remplir"
  :help "Cliquez sur un élément pour le remplir."
  :fill "Remplir"}

 :renderer.tool.impl.misc.measure
 {:label "Mesurer"
  :help "Cliquez et faites glisser pour mesurer une distance."
  :measure-end "fin de mesure"
  :measure-start "début de mesure"}

 :renderer.tool.impl.element.text
 {:label "Texte"
  :help "Cliquez pour commencer à taper."}

 :renderer.tool.impl.element.polyline
 {:label "Polyligne"}

 :renderer.tool.impl.element.polygon
 {:label "Polygone"}

 :renderer.tool.impl.element.image
 {:label "Image"}

 :renderer.attribute.impl.stroke-linecap
 {:description "L'attribut stroke-linecap est un attribut de présentation
                définissant la forme à utiliser à la fin des sous-chemins
                ouverts lorsqu'ils sont tracés."
  :butt "Bout"
  :round "Rond"
  :square "Carré"}

 :renderer.attribute.impl.stroke-linejoin
 {:description "L'attribut stroke-linejoin est un attribut de présentation
                définissant la forme à utiliser aux coins des chemins lorsqu'ils
                sont tracés."
  :bevel "Biseau"
  :miter "Onglet"
  :round "Rond"}

 :renderer.attribute.impl.overflow
 {:description "L'attribut overflow définit quoi faire quand le contenu d'un
                élément est trop grand pour tenir dans son contexte de formatage
                de bloc. Cette fonctionnalité n'est pas encore largement
                implémentée."
  :hidden "Masqué"
  :visible "Visible"
  :scroll "Défilement"
  :auto "Automatique"}

 :renderer.attribute.impl.color
 {:pick-color "Choisir une couleur"}

 :renderer.attribute.impl.d
 {:description "L'attribut d définit un chemin à dessiner."
  :edit "Éditer le chemin"
  :absolute "(Absolu)"
  :relative "(Relatif)"
  :move-to "Déplacer vers"
  :line-to "Ligne vers"
  :vertical-line "Ligne verticale"
  :horizontal-line "Ligne horizontale"
  :cubic-bezier "Courbe de Bézier cubique"
  :shortcut-cubic-bezier "Raccourci courbe de Bézier cubique"
  :quadratic-bezier-curve "Courbe de Bézier quadratique"
  :shortcut-quadratic "Raccourci Bézier quadratique"
  :elliptical-arc-curve "Courbe d'arc elliptique"
  :close-path "Fermer le chemin"}

 :renderer.attribute.impl.length
 {:increase "Augmenter"
  :decrease "Diminuer"}

 :renderer.attribute.impl.font-family
 {:description "L'attribut font-family indique quelle famille de polices sera
                utilisée pour rendre le texte, spécifiée comme une liste
                priorisée de noms de familles de polices et/ou de noms de
                familles génériques."
  :search-font "Rechercher une police"
  :select-font "Sélectionner une police"
  :no-local-font "Aucune police locale trouvée."}

 :renderer.attribute.impl.font-size
 {:description "L'attribut font-size fait référence à la taille de la police de
                la ligne de base à la ligne de base lorsque plusieurs lignes de
                texte sont définies solides dans un environnement de mise en
                page multiligne."}

 :renderer.attribute.impl.font-weight
 {:description "L'attribut font-weight fait référence à la graisse ou à la
                légèreté des glyphes utilisés pour rendre le texte, par rapport
                aux autres polices de la même famille de polices."}

 :renderer.attribute.impl.crossorigin
 {:description "L'attribut crossorigin, valide sur les éléments <image> et
                <feImage>, fournit un support pour la configuration des requêtes
                Cross-Origin Resource Sharing (CORS) pour les données récupérées
                de l'élément."
  :anonymous "Anonyme"
  :use-credentials "Utiliser les identifiants"}

 :renderer.attribute.impl.decoding
 {:description "L'attribut decoding, valide sur les éléments <image>, fournit un
                indice au navigateur pour savoir s'il doit effectuer le décodage
                d'image avec le rendu d'autre contenu en une seule étape de
                présentation qui semble plus \"correcte\" (sync), ou rendre et
                présenter l'autre contenu d'abord puis décoder l'image et la
                présenter plus tard (async). En pratique, async signifie que le
                prochain paint n'attend pas que l'image se décode."
  :sync "Synchrone"
  :async "Asynchrone"
  :auto "Automatique"}

 :renderer.tool.impl.base.edit
 {:label "Éditer"
  :help-idle-drag [:div "Faites glisser une poignée pour modifier votre forme."]
  :help-idle-click [:div "Cliquez sur un élément pour changer la sélection"]
  :help-edit [:div "Maintenez %1 pour restreindre la direction."]
  :help-type [:div "Entrez votre texte."]
  :select-element "Sélectionner l'élément"
  :edit "Éditer"
  :centroid "Centroïde"}

 :renderer.tool.impl.base.transform
 {:label "Transformer"
  :idle-click [:div "Cliquez pour sélectionner un élément ou faites glisser pour
                     sélectionner par zone. "]
  :idle-hold [:div "Maintenez %1 pour ajouter ou supprimer des éléments de la
                    sélection."]
  :select [:div "Maintenez %1 pour sélectionner les éléments intersectants."]
  :select-element "Sélectionner l'élément"
  :deselect-element "Désélectionner l'élément"
  :translate [:div "Maintenez %1 pour restreindre la direction, et %2 pour
                    cloner."]
  :clone [:div "Maintenez %1 pour restreindre la direction. ou relâchez %2 pour
                déplacer"]
  :scale [:div "Maintenez %1 pour verrouiller les proportions, %2 pour
                redimensionner en place, %3 pour aussi redimensionner les
                enfants."]
  :modify-selection "Modifier la sélection"
  :move-selection "Déplacer la sélection"
  :scale-selection "Redimensionner la sélection"
  :scale-handle "poignée de redimensionnement"
  :clone-selection "Cloner la sélection"}

 :renderer.tool.impl.base.pan
 {:label "Panoramique"
  :idle-help "Cliquez et faites glisser pour faire un panoramique."
  :pan-help "Faites glisser pour faire un panoramique."}

 :renderer.tool.impl.base.zoom
 {:label "Zoom"
  :zoom-in [:div "Cliquez ou sélectionnez une zone pour agrandir."]
  :zoom-out [:div "Maintenez %1 pour réduire."]}

 :renderer.tool.impl.draw.brush
 {:label "Pinceau"
  :draw-brush "Dessiner au pinceau"}

 :renderer.tool.impl.draw.pen
 {:label "Stylo"
  :draw-line "Dessiner une ligne"}

 :renderer.tool.impl.draw.core
 {:help "Cliquez et faites glisser pour dessiner."}

 :renderer.tool.impl.element.circle
 {:label "Cercle"
  :create-circle "Créer un cercle"
  :circle-radius "rayon du cercle"
  :circle-center "centre du cercle"}

 :renderer.tool.impl.element.ellipse
 {:label "Ellipse"
  :create-ellipse "Créer une ellipse"
  :help [:div "Maintenez %1 pour verrouiller les proportions."]}

 :renderer.tool.impl.element.line
 {:label "Ligne"
  :create-line "Créer une ligne"}

 :renderer.document.events
 {:save-changes "Voulez-vous enregistrer vos modifications ?"
  :create-doc "Créer un document"
  :create-doc-from-template "Créer un document à partir d'un modèle"
  :load-doc "Charger un document"
  :error-loading "Erreur lors du chargement de %1"
  :unsupported-or-corrupted "Le fichier semble être non pris en charge ou
                             corrompu."}

 :renderer.document.views
 {:new "Nouveau"
  :open "Ouvrir"
  :open-directory "Ouvrir le répertoire contenant"
  :save "Enregistrer"
  :undo "Annuler"
  :redo "Rétablir"
  :close "Fermer"
  :close-doc "Fermer le document"
  :close-all "Fermer tout"
  :close-saved "Fermer les enregistrés"
  :close-others "Fermer les autres"}

 :renderer.window.views
 {:minimize "Réduire"
  :maximize "Agrandir"
  :restore "Restaurer"
  :close "Fermer"
  :theme "Mode de thème - %1"
  :enter-fullscreen "Activer le plein écran"
  :exit-fullscreen "Quitter le plein écran"
  :install "Installer"}

 :renderer.toolbar.status
 {:select-zoom "Sélectionner le niveau de zoom"
  :zoom "Zoom"
  :zoom-out "Réduire"
  :zoom-in "Agrandir"
  :zoom-set-50 "Définir à 50%"
  :zoom-set-100 "Définir à 100%"
  :zoom-set-200 "Définir à 200%"
  :zoom-focus-selected "Centrer sur la sélection"
  :zoom-fit-selected "Ajuster à la sélection"
  :zoom-fill-selected "Remplir avec la sélection"
  :timeline "Chronologie"
  :grid "Grille"
  :rulers "Règles"
  :history "Historique"
  :xml "XML"
  :fill-color "Choisir la couleur de remplissage"
  :stroke-color "Choisir la couleur de contour"
  :swap-color "Échanger le remplissage avec le contour"}

 :renderer.snap.views
 {:snap "Magnétisme"
  :snap-options "Options de magnétisme"
  :centers "centres"
  :midpoints "points médians"
  :corners "coins"
  :nodes "nœuds"
  :to " vers "}

 :renderer.toolbar.object
 {:bring-front "Amener au premier plan"
  :send-back "Envoyer à l'arrière-plan"
  :bring-forward "Amener vers l'avant"
  :send-backward "Envoyer vers l'arrière"
  :group "Grouper"
  :ungroup "Dégrouper"
  :align-left "Aligner à gauche"
  :align-center-hor "Aligner au centre horizontalement"
  :align-right "Aligner à droite"
  :align-top "Aligner en haut"
  :align-center-ver "Aligner au centre verticalement"
  :align-bottom "Aligner en bas"
  :unite "Unir"
  :intersect "Intersection"
  :subtract "Soustraire"
  :exclude "Exclure"
  :divide "Diviser"}

 :renderer.utils.bounds
 {:bounds-corner "coin des limites"
  :bounds-center "centre des limites"
  :bounds-midpoint "point médian des limites"}

 :renderer.history.events
 {:clear-history "Effacer l'historique"}

 :renderer.history.views
 {:center-view "Centrer la vue"
  :clear-history "Effacer l'historique"
  :action-cannot-undone "Cette action ne peut pas être annulée."
  :clear-history-description "Êtes-vous sûr de vouloir effacer l'historique du
                              document ?"
  :select-element "Sélectionner l'élément"
  :delete-selection "Supprimer la sélection"}

 :renderer.timeline.views
 {:speed "Vitesse"
  :no-filter "Aucun filtre"
  :filter "Filtre"
  :grid-snap "Magnétisme de grille"
  :guide-snap "Magnétisme de guide"
  :play "Jouer"
  :replay "Rejouer"
  :pause "Pause"
  :hide-timeline "Masquer la chronologie"}

 :renderer.attribute.impl.angle
 {:pick-angle "Choisir un angle"}

 :renderer.attribute.impl.href
 {:select-file "Sélectionner un fichier"}

 :renderer.attribute.impl.points
 {:edit-points "Éditer les points"}

 :renderer.frame.views
 {:main-canvas "canevas principal"}

 :renderer.notification.views
 {:close "Fermer"
  :error "Erreur"
  :validation-error "Erreur de validation"
  :clear-all "Tout effacer"
  :event "Événement : "}

 :renderer.error.events
 {:welcome "Bienvenue dans %1 !"
  :reporting-description [:div
                          [:p "Souhaitez-vous nous aider à nous améliorer en
                               envoyant des rapports d'erreur anonymes ? Vous
                               pouvez modifier votre préférence à tout moment
                               depuis notre menu \"%1\"."]
                          [:p "Pour plus d'informations, veuillez lire notre
                               %2."]]
  :privacy-policy "politique de confidentialité"
  :no-thank-you "Non, merci"}}
