{:missing "Отсутствует перевод для :ru-RU"

 :renderer.app.views
 {:lock "Заблокировать"
  :unlock "Разблокировать"
  :svg-description "Работа с масштабируемой векторной графикой"
  :start "Начать"
  :new "Новый"
  :or "или"
  :open "Открыть"
  :recent "Недавние"
  :select-size "Выбрать размер"
  :select-template "Выбрать шаблон"
  :empty-canvas "Пустой холст"
  :help "Справка"
  :command-panel "Панель команд"
  :website "Веб-сайт"
  :source-code "Исходный код"
  :changelog "Журнал изменений"}

 :renderer.tree.views
 {:lock "Заблокировать"
  :unlock "Разблокировать"
  :show "Показать"
  :hide "Скрыть"}

 :renderer.reepl.views
 {:hide-command-output "Скрыть вывод команд"
  :show-command-output "Показать вывод команд"}

 :renderer.app.events
 {:create-doc "Создать документ"}

 :renderer.dialog.views
 {:search-command "Поиск команды"
  :no-results "Результаты не найдены."
  :version "Версия: "
  :browser "Браузер: "
  :save "Сохранить"
  :dont-save "Не сохранять"
  :cancel "Отмена"
  :close "Закрыть"
  :ok "ОК"
  :changes-will-be-lost [:p "Ваши изменения в %1 будут потеряны, если вы
                             закроете документ без сохранения."]}

 :renderer.menubar.views
 {:file "Файл"
  :new "Новый"
  :open "Открыть..."
  :recent "Недавние"
  :recent-clear "Очистить недавние"
  :print "Печать"
  :save "Сохранить"
  :save-as "Сохранить как..."
  :download "Скачать"
  :export-as "Экспортировать как"
  :close "Закрыть"
  :exit "Выход"
  :edit "Правка"
  :undo "Отменить"
  :redo "Повторить"
  :cut "Вырезать"
  :copy "Копировать"
  :paste "Вставить"
  :paste-in-place "Вставить на место"
  :paste-styles "Вставить стили"
  :duplicate "Дублировать"
  :select-all "Выделить всё"
  :deselect-all "Снять выделение"
  :invert-selection "Инвертировать выделение"
  :select-same-tags "Выделить одинаковые теги"
  :delete "Удалить"
  :object "Объект"
  :object-to-path "Объект в контур"
  :stroke-to-path "Обводка в контур"
  :group "Группировать"
  :ungroup "Разгруппировать"
  :lock "Заблокировать"
  :unlock "Разблокировать"
  :align "Выровнять"
  :align-left "По левому краю"
  :align-right "По правому краю"
  :align-top "По верхнему краю"
  :align-bottom "По нижнему краю"
  :align-center-vertically "Центрировать по вертикали"
  :align-center-horizontally "Центрировать по горизонтали"
  :animate "Анимировать"
  :animate-transform "Анимировать трансформацию"
  :animate-motion "Анимировать движение"
  :boolean-operation "Булева операция"
  :boolean-exclude "Исключить"
  :boolean-unite "Объединить"
  :boolean-intersect "Пересечение"
  :boolean-subtract "Вычесть"
  :boolean-divide "Разделить"
  :raise "Поднять"
  :lower "Опустить"
  :raise-to-top "Поднять на передний план"
  :lower-to-bottom "Отправить на задний план"
  :image "Изображение"
  :image-trace "Трассировка"
  :path "Контур"
  :path-simplify "Упростить"
  :path-smooth "Сгладить"
  :path-flatten "Выровнять"
  :path-reverse "Обратить"
  :view "Вид"
  :zoom "Масштаб"
  :zoom-in "Увеличить"
  :zoom-out "Уменьшить"
  :zoom-set-50 "Установить 50%"
  :zoom-set-100 "Установить 100%"
  :zoom-set-200 "Установить 200%"
  :zoom-focus-selected "Сфокусировать на выделенном"
  :zoom-fit-selected "Уместить выделенное"
  :zoom-fill-selected "Заполнить выделенным"
  :accessibility-filter "Фильтр доступности"
  :language "Язык"
  :grid "Сетка"
  :rulers "Линейки"
  :help-bar "Панель справки"
  :debug-info "Отладочная информация"
  :panel "Панель"
  :panel-element-tree "Дерево элементов"
  :panel-properties "Свойства"
  :panel-xml-view "XML вид"
  :panel-history-tree "Дерево истории"
  :panel-shell-history "История консоли"
  :panel-timeline-editor "Редактор временной шкалы"
  :fullscreen "Полный экран"
  :help "Справка"
  :command-panel "Панель команд"
  :website "Веб-сайт"
  :source-code "Исходный код"
  :license "Лицензия"
  :changelog "Журнал изменений"
  :privacy-policy "Политика Конфиденциальности"
  :submit-an-issue "Сообщить о проблеме"
  :about "О программе"}

 :renderer.menubar.filters
 {:blur "размытие"
  :blur-x2 "размытие-x2"
  :protanopia "протанопия"
  :protanomaly "протаномалия"
  :deuteranopia "дейтеранопия"
  :deuteranomaly "дейтераномалия"
  :tritanopia "тританопия"
  :tritanomaly "тританомалия"
  :achromatopsia "ахроматопсия"
  :achromatomaly "ахроматомалия"}

 :renderer.element.events
 {:modify-selection "Изменить выделение"
  :select-element "Выделить элемент"
  :select-elements "Выделить элементы"
  :delete-selection "Удалить выделенное"
  :set-label "Установить метку"
  :lock-selection "Заблокировать выделение"
  :unlock-selection "Разблокировать выделение"
  :remove "Удалить %1"
  :update "Обновить %1"
  :deselect-all "Снять всё выделение"
  :select-all "Выделить всё"
  :select-same-tags "Выделить одинаковые теги"
  :invert-selection "Инвертировать выделение"
  :raise-selection "Поднять выделенное"
  :lower-selection "Опустить выделенное"
  :raise-selection-top "Поднять выделенное на передний план"
  :lower-selection-bottom "Отправить выделенное на задний план"
  :paste-selection "Вставить выделенное"
  :paste-selection-in-place "Вставить выделенное на место"
  :paste-styles-to-selection "Вставить стили в выделенное"
  :duplicate-selection "Дублировать выделенное"
  :move-selection "Переместить выделенное"
  :place-selection "Разместить выделенное"
  :scale-selection "Масштабировать выделенное"
  :convert-selection-path "Преобразовать выделенное в контур"
  :convert-selection-stroke-path "Преобразовать обводку выделенного в контур"
  :create "Создать %1"
  :import-svg "Импорт SVG"
  :set-parent "Установить родителя"
  :group-selection "Группировать выделенное"
  :ungroup-selection "Разгруппировать выделенное"
  :cut-selection "Вырезать выделенное"
  :trace-image "Трассировать изображение"}

 :renderer.element.views
 {:cut "Вырезать"
  :copy "Копировать"
  :paste "Вставить"
  :raise "Поднять"
  :lower "Опустить"
  :raise-top "Поднять на передний план"
  :lower-bottom "Отправить на задний план"
  :animate "Анимировать"
  :animate-transform "Анимировать трансформацию"
  :animate-motion "Анимировать движение"
  :duplicate "Дублировать"
  :delete "Удалить"}

 :renderer.element.impl.shape.circle
 {:label "Круг"
  :description "Элемент SVG <circle> является базовой формой SVG, используемой
                для рисования кругов на основе центральной точки и радиуса."}

 :renderer.element.impl.shape.image
 {:label "Изображение"
  :description "Элемент SVG <image> включает изображения в документы SVG.
                Он может отображать растровые файлы изображений или другие
                файлы SVG."}

 :renderer.element.impl.shape.ellipse
 {:label "Эллипс"
  :description "Элемент <ellipse> является базовой формой SVG, используемой для
                создания эллипсов на основе центральной координаты и их радиусов
                x и y."}

 :renderer.element.impl.shape.line
 {:label "Линия"
  :description "Элемент <line> является базовой формой SVG, используемой для
                создания линии, соединяющей две точки."}

 :renderer.element.impl.shape.path
 {:label "Контур"
  :description "Элемент SVG <path> является универсальным элементом для
                определения формы. Все базовые формы могут быть созданы с
                помощью элемента path."}

 :renderer.element.impl.shape.polygon
 {:label "Многоугольник"
  :description "Элемент SVG <polygon> определяет замкнутую форму, состоящую из
                набора соединённых сегментов прямых линий. Последняя точка
                соединена с первой точкой."}

 :renderer.element.impl.shape.polyline
 {:label "Ломаная линия"
  :description "Элемент SVG <polyline> является базовой формой SVG, которая
                создаёт прямые линии, соединяющие несколько точек. Обычно
                ломаная линия используется для создания открытых форм, поскольку
                последняя точка не должна быть соединена с первой точкой."}

 :renderer.element.impl.shape.rect
 {:label "Прямоугольник"
  :description "Элемент <rect> является базовой формой SVG, которая рисует
                прямоугольники, определённые их позицией, шириной и высотой.
                Прямоугольники могут иметь закруглённые углы."}

 :renderer.element.impl.custom.blob
 {:x "Горизонтальная координата центра blob."
  :y "Вертикальная координата центра blob."
  :seed "Заданное зерно всегда будет создавать одинаковый blob."
  :extra-points "Фактическое количество точек будет `3 + дополнительныеТочки`."
  :randomness "Увеличивает количество вариации в позиции точек."
  :size "Размер ограничивающего прямоугольника."
  :description "Blob на основе векторов."
  :generate-random-seed "Сгенерировать случайное зерно"}

 :renderer.element.impl.custom.brush
 {:label "Кисть"
  :points "Входные точки, записанные от движения мыши пользователя."
  :size "Базовый размер (диаметр) штриха."
  :thinning "Влияние давления на размер штриха."
  :smoothing "Насколько смягчить края штриха."
  :stream-line "Насколько упростить штрих."
  :description "Рисуйте чувствительные к давлению линии от руки с помощью
                perfect-freehand."}

 :renderer.element.impl.container.canvas
 {:label "Холст"
  :description "Холст является основным контейнером SVG, который содержит все
                элементы."}

 :renderer.element.impl.container.svg
 {:description "Элемент svg является контейнером, который определяет новую
                систему координат и область просмотра. Он используется как самый
                внешний элемент документов SVG, но также может использоваться
                для встраивания фрагмента SVG в документ SVG или HTML."}

 :renderer.element.impl.text
 {:description "Элемент SVG <text> рисует графический элемент, состоящий из
                текста. Возможно применить градиент, узор, обтравочный контур,
                маску или фильтр к <text>, как к любому другому графическому
                лементу SVG."
  :label "Текст"
  :remove-text "Удалить текст"
  :set-text "Установить текст"}

 :renderer.attribute.views
 {:all "всё"
  :browser-compatibility "Совместимость браузеров"
  :learn-more "Узнать больше"
  :specification "Спецификация"
  :applies-to "Применяется к"
  :computed "Вычисляемое"
  :percentages "Проценты"
  :animatable "Анимируемое"
  :animationType "Тип анимации"
  :syntax "Синтаксис"
  :mdn-info "Информация MDN"
  :attributes-title "%1 %2 элементов"}

 :renderer.attribute.impl.core
 {:x "Атрибут x определяет координату оси x в пользовательской системе
      координат."
  :y "Атрибут y определяет координату оси y в пользовательской системе
      координат."
  :x1 "Атрибут x1 используется для указания первой координаты x для рисования
       элемента SVG, который требует более одной координаты. Элементы, которым
       нужна только одна координата, используют атрибут x вместо этого."
  :y1 "Атрибут y1 используется для указания первой координаты y для рисования
       элемента SVG, который требует более одной координаты. Элементы, которым
       нужна только одна координата, используют атрибут y вместо этого."
  :x2 "Атрибут x2 используется для указания второй координаты x для рисования
       элемента SVG, который требует более одной координаты. Элементы, которым
       нужна только одна координата, используют атрибут x вместо этого."
  :y2 "Атрибут y2 используется для указания второй координаты y для рисования
       элемента SVG, который требует более одной координаты. Элементы, которым
       нужна только одна координата, используют атрибут y вместо этого."
  :cx "Атрибут cx определяет координату оси x центральной точки."
  :cy "Атрибут cy определяет координату оси y центральной точки."
  :dx "Атрибут dx указывает смещение вдоль оси x на позиции элемента или его
       содержимого."
  :dy "Атрибут dy указывает смещение вдоль оси y на позиции элемента или его
       содержимого."
  :width "Атрибут width определяет горизонтальную длину элемента в
          пользовательской системе координат."
  :height "Атрибут height определяет вертикальную длину элемента в
           пользовательской системе координат."
  :rx "Атрибут rx определяет радиус по оси x."
  :ry "Атрибут ry определяет радиус по оси y."
  :r "Атрибут r определяет радиус круга."
  :rotate "Атрибут rotate указывает, как анимированный элемент вращается во
           время движения по контуру, указанному в элементе <animateMotion>."
  :stroke "Атрибут stroke является атрибутом представления, определяющим цвет
           (или любой сервер рисования SVG, такой как градиенты или узоры),
           используемый для рисования контура формы."
  :fill "Атрибут fill имеет два различных значения. Для форм и текста это
         атрибут представления, который определяет цвет (или любой сервер
         рисования SVG, такой как градиенты или узоры), используемый для
         рисования элемента; для анимации он определяет конечное состояние
         анимации."
  :stroke-width "Атрибут stroke-width является атрибутом представления,
                 определяющим ширину штриха, применяемого к форме."
  :stroke-dasharray "Атрибут stroke-dasharray является атрибутом представления,
                     определяющим узор штрихов и промежутков, используемый для
                     рисования контура формы."
  :opacity "Атрибут opacity указывает прозрачность объекта или группы объектов,
            то есть степень, в которой фон за элементом накладывается поверх."
  :id "Атрибут id присваивает уникальное имя элементу."
  :class "Присваивает имя класса или набор имён классов элементу. Вы можете
          присвоить одно и то же имя класса или имена любому количеству
          элементов, однако несколько имён классов должны быть разделены
          пробельными символами."
  :tabindex "Атрибут tabindex позволяет вам контролировать, является ли элемент
             фокусируемым и определить относительный порядок элемента для целей
             последовательной навигации фокуса."
  :style "Атрибут style позволяет стилизовать элемент с использованием
          объявлений CSS. Он функционирует идентично атрибуту style в HTML."
  :href "Атрибут href определяет ссылку на ресурс как ссылочный URL. Точное
         значение этой ссылки зависит от контекста каждого элемента, который
         её использует."
  :attribute-name "Атрибут attributeName указывает имя свойства CSS или атрибута
                   целевого элемента, который будет изменён во время анимации."
  :begin "Атрибут begin определяет, когда должна начинаться анимация."
  :end "Атрибут end определяет конечное значение для анимации, которое может
        ограничить активную продолжительность."
  :dur "Атрибут dur указывает простую продолжительность анимации."
  :min "Атрибут min указывает минимальное значение активной продолжительности
        анимации."
  :max "Атрибут max указывает максимальное значение активной продолжительности
        анимации."
  :restart "Атрибут restart указывает, может ли анимация перезапускаться или
            нет."
  :repeat-count "Атрибут repeatCount указывает количество раз, которое анимация
                 будет происходить."
  :repeat-dur "Атрибут repeatDur указывает общую продолжительность для
               повторения анимации."
  :calc-mode "Атрибут calcMode указывает режим интерполяции для анимации."
  :values "Атрибут values имеет различные значения, в зависимости от контекста,
           где он используется, либо он определяет последовательность значений,
           используемых в ходе анимации, либо это список чисел для цветовой
           матрицы, который интерпретируется по-разному в зависимости от типа
           выполняемого изменения цвета."
  :key-times "Атрибут keyTimes представляет список временных значений,
              используемых для управления темпом анимации."
  :key-splines "Атрибут keySplines определяет набор контрольных точек кривой
                Безье, связанных со списком keyTimes, определяя кубическую
                функцию Безье, которая управляет темпом интервала"
  :from "Атрибут from указывает начальное значение атрибута, которое будет
         изменено во время анимации."
  :to "Атрибут to указывает конечное значение атрибута, которое будет изменено
       во время анимации."
  :by "Атрибут by указывает относительное значение смещения для атрибута,
       который будет изменён во время анимации."
  :additive "Атрибут additive контролирует, является ли анимация аддитивной
             или нет."
  :accumulate "Атрибут accumulate контролирует, является ли анимация
               накопительной или нет."
  :view-box "Атрибут viewBox определяет позицию и размер в пользовательском
             пространстве области просмотра SVG."
  :preserve-aspect-ratio "Атрибут preserveAspectRatio указывает, как элемент с
                          viewBox, предоставляющим заданное соотношение сторон,
                          должен помещаться в область просмотра с другим
                          соотношением сторон."}

 :renderer.tool.impl.element.core
 {:help "Щёлкните и перетащите для создания элемента."}

 :renderer.tool.impl.element.poly
 {:add-points "Щёлкните для добавления дополнительных точек."
  :finalize-shape "Двойной щелчок для завершения формы."}

 :renderer.tool.impl.element.rect
 {:label "Прямоугольник"
  :help [:div "Удерживайте %1 для блокировки пропорций."]
  :create-rectangle "Создать прямоугольник"}

 :renderer.tool.impl.element.svg
 {:label "SVG"
  :help [:div "Удерживайте %1 для блокировки пропорций."]
  :create-svg "Создать SVG"}

 :renderer.tool.impl.extension.blob
 {:label "Blob"
  :create-blob "Создать blob"}

 :renderer.tool.impl.misc.dropper
 {:label "Пипетка"
  :help "Щёлкните в любом месте для выбора цвета."
  :pick-color "Выбрать цвет"}

 :renderer.tool.impl.misc.fill
 {:label "Заливка"
  :help "Щёлкните на элементе для заливки."
  :fill "Заливка"}

 :renderer.tool.impl.misc.measure
 {:label "Измерение"
  :help "Щёлкните и перетащите для измерения расстояния."
  :measure-end "конец измерения"
  :measure-start "начало измерения"}

 :renderer.tool.impl.element.text
 {:label "Текст"
  :help "Щёлкните для начала ввода."}

 :renderer.tool.impl.element.polyline
 {:label "Ломаная"
  :create-polyline "Создать ломаную"}

 :renderer.tool.impl.element.polygon
 {:label "Многоугольник"
  :create-polygon "Создать многоугольник"}

 :renderer.tool.impl.element.image
 {:label "Изображение"}

 :renderer.attribute.impl.stroke-linecap
 {:description "Атрибут stroke-linecap является атрибутом представления,
                определяющим форму, используемую в конце открытых подконтуров
                при их обводке."
  :butt "Обрезанный"
  :round "Круглый"
  :square "Квадратный"}

 :renderer.attribute.impl.stroke-linejoin
 {:description "Атрибут stroke-linejoin является атрибутом представления,
                определяющим форму, используемую в углах контуров при их
                обводке."
  :bevel "Скошенный"
  :miter "Угловой"
  :round "Круглый"}

 :renderer.attribute.impl.overflow
 {:description "Атрибут overflow устанавливает, что делать, когда содержимое
                элемента слишком велико, чтобы поместиться в его контекст
                форматирования блока. Эта функция ещё не получила широкого
                распространения."
  :hidden "Скрытый"
  :visible "Видимый"
  :scroll "Прокрутка"
  :auto "Автоматически"}

 :renderer.attribute.impl.color
 {:pick-color "Выбрать цвет"}

 :renderer.attribute.impl.d
 {:description "Атрибут d определяет контур для рисования."
  :edit "Редактировать контур"
  :absolute "(Абсолютный)"
  :relative "(Относительный)"
  :move-to "Переместить в"
  :line-to "Линия в"
  :vertical-line "Вертикальная линия"
  :horizontal-line "Горизонтальная линия"
  :cubic-bezier "Кубическая кривая Безье"
  :shortcut-cubic-bezier "Сокращённая кубическая кривая Безье"
  :quadratic-bezier-curve "Квадратичная кривая Безье"
  :shortcut-quadratic "Сокращённая квадратичная кривая Безье"
  :elliptical-arc-curve "Эллиптическая дуговая кривая"
  :close-path "Закрыть контур"}

 :renderer.attribute.impl.length
 {:increase "Увеличить"
  :decrease "Уменьшить"}

 :renderer.attribute.impl.font-family
 {:description "Атрибут font-family указывает, какое семейство шрифтов будет
                использоваться для отображения текста, указанное как
                приоритетный список названий семейств шрифтов и/или названий
                общих семейств."
  :search-font "Поиск шрифта"
  :select-font "Выбрать шрифт"
  :no-local-font "Локальные шрифты не найдены."}

 :renderer.attribute.impl.font-size
 {:description "Атрибут font-size относится к размеру шрифта от базовой линии
                до базовой линии, когда несколько строк текста устанавливаются
                сплошными в многострочной среде компоновки."}

 :renderer.attribute.impl.font-weight
 {:description "Атрибут font-weight относится к жирности или лёгкости глифов,
                используемых для отображения текста, относительно других шрифтов
                в том же семействе шрифтов."}

 :renderer.attribute.impl.crossorigin
 {:description "Атрибут crossorigin, действительный для элементов <image> и
                <feImage>, обеспечивает поддержку конфигурации запросов
                Cross-Origin Resource Sharing (CORS) для данных, получаемых
                элементом."
  :anonymous "Анонимный"
  :use-credentials "Использовать учётные данные"}

 :renderer.attribute.impl.decoding
 {:description "Атрибут decoding, действительный для элементов <image>, даёт
                браузеру подсказку о том, следует ли выполнять декодирование
                изображения вместе с отрисовкой другого содержимого в одном шаге
                представления, который выглядит более \"правильно\" (sync), или
                отрисовать и представить другое содержимое сначала, а затем
                декодировать изображение и представить его позже (async). На
                практике async означает, что следующая отрисовка не ждёт
                декодирования изображения."
  :sync "Синхронно"
  :async "Асинхронно"
  :auto "Автоматически"}

 :renderer.tool.impl.base.edit
 {:label "Редактирование"
  :help-idle-drag [:div "Перетащите маркер для изменения вашей формы."]
  :help-idle-click [:div "Щёлкните на элементе для изменения выделения"]
  :help-edit [:div "Удерживайте %1 для ограничения направления."]
  :help-type [:div "Введите ваш текст."]
  :select-element "Выделить элемент"
  :edit "Редактировать"
  :centroid "Центроид"}

 :renderer.tool.impl.base.transform
 {:label "Трансформация"
  :idle-click [:div "Щёлкните для выделения элемента или перетащите для
                     выделения по области. "]
  :idle-hold [:div "Удерживайте %1 для добавления или удаления элементов из
                    выделения."]
  :select [:div "Удерживайте %1 для выделения пересекающихся элементов."]
  :select-element "Выделить элемент"
  :deselect-element "Снять выделение элемента"
  :translate [:div "Удерживайте %1 для ограничения направления, и %2 для
                    клонирования."]
  :clone [:div "Удерживайте %1 для ограничения направления. или отпустите %2
                для перемещения"]
  :scale [:div "Удерживайте %1 для блокировки пропорций, %2 для
                масштабирования на месте, %3 для также масштабирования
                потомков."]
  :modify-selection "Изменить выделение"
  :move-selection "Переместить выделение"
  :scale-selection "Масштабировать выделение"
  :scale-handle "ручка масштабирования"
  :clone-selection "Клонировать выделение"}

 :renderer.tool.impl.base.pan
 {:label "Панорамирование"
  :idle-help "Щёлкните и перетащите для панорамирования."
  :pan-help "Перетащите для панорамирования."}

 :renderer.tool.impl.base.zoom
 {:label "Масштабирование"
  :zoom-in [:div "Щёлкните или выделите область для увеличения."]
  :zoom-out [:div "Удерживайте %1 для уменьшения."]}

 :renderer.tool.impl.draw.brush
 {:label "Кисть"
  :draw-brush "Рисовать кистью"}

 :renderer.tool.impl.draw.pen
 {:label "Перо"
  :draw-line "Рисовать линию"}

 :renderer.tool.impl.draw.core
 {:help "Щёлкните и перетащите для рисования."}

 :renderer.tool.impl.element.circle
 {:label "Круг"
  :create-circle "Создать круг"
  :circle-radius "радиус круга"
  :circle-center "центр круга"}

 :renderer.tool.impl.element.ellipse
 {:label "Эллипс"
  :create-ellipse "Создать эллипс"
  :help [:div "Удерживайте %1 для блокировки пропорций."]}

 :renderer.tool.impl.element.line
 {:label "Линия"
  :create-line "Создать линию"}

 :renderer.document.events
 {:save-changes "Хотите сохранить ваши изменения?"
  :create-doc "Создать документ"
  :create-doc-from-template "Создать документ из шаблона"
  :load-doc "Загрузить документ"
  :error-loading "Ошибка при загрузке %1"
  :unsupported-or-corrupted "Файл не поддерживается или повреждён."}

 :renderer.document.views
 {:new "Новый"
  :open "Открыть"
  :open-directory "Открыть содержащую папку"
  :save "Сохранить"
  :undo "Отменить"
  :redo "Повторить"
  :close "Закрыть"
  :close-doc "Закрыть документ"
  :close-all "Закрыть всё"
  :close-saved "Закрыть сохранённые"
  :close-others "Закрыть остальные"}

 :renderer.window.views
 {:minimize "Свернуть"
  :maximize "Развернуть"
  :restore "Восстановить"
  :close "Закрыть"
  :theme "Режим темы - %1"
  :enter-fullscreen "Войти в полноэкранный режим"
  :exit-fullscreen "Выйти из полноэкранного режима"
  :install "Установить"}

 :renderer.toolbar.status
 {:select-zoom "Выбрать уровень масштаба"
  :zoom "Масштаб"
  :zoom-out "Уменьшить"
  :zoom-in "Увеличить"
  :zoom-set-50 "Установить 50%"
  :zoom-set-100 "Установить 100%"
  :zoom-set-200 "Установить 200%"
  :zoom-focus-selected "Сфокусировать на выделенном"
  :zoom-fit-selected "Уместить выделенное"
  :zoom-fill-selected "Заполнить выделенным"
  :timeline "Временная шкала"
  :grid "Сетка"
  :rulers "Линейки"
  :history "История"
  :xml "XML"
  :fill-color "Выбрать цвет заливки"
  :stroke-color "Выбрать цвет обводки"
  :swap-color "Поменять местами заливку и обводку"}

 :renderer.snap.views
 {:snap "Привязка"
  :snap-options "Параметры привязки"
  :centers "центры"
  :midpoints "средние точки"
  :corners "углы"
  :nodes "узлы"
  :to " к "}

 :renderer.toolbar.object
 {:bring-front "На передний план"
  :send-back "На задний план"
  :bring-forward "Вперёд"
  :send-backward "Назад"
  :group "Группировать"
  :ungroup "Разгруппировать"
  :align-left "Выровнять по левому краю"
  :align-center-hor "Выровнять по центру горизонтально"
  :align-right "Выровнять по правому краю"
  :align-top "Выровнять по верхнему краю"
  :align-center-ver "Выровнять по центру вертикально"
  :align-bottom "Выровнять по нижнему краю"
  :unite "Объединить"
  :intersect "Пересечение"
  :subtract "Вычесть"
  :exclude "Исключить"
  :divide "Разделить"}

 :renderer.utils.bounds
 {:bounds-corner "угол границ"
  :bounds-center "центр границ"
  :bounds-midpoint "средняя точка границ"}

 :renderer.history.events
 {:clear-history "Очистить историю"}

 :renderer.history.views
 {:center-view "Центрировать вид"
  :clear-history "Очистить историю"
  :action-cannot-undone "Это действие нельзя отменить."
  :clear-history-description "Вы уверены, что хотите очистить историю
                              документа?"
  :select-element "Выделить элемент"
  :delete-selection "Удалить выделенное"}

 :renderer.timeline.views
 {:speed "Скорость"
  :no-filter "Без фильтра"
  :filter "Фильтр"
  :grid-snap "Привязка к сетке"
  :guide-snap "Привязка к направляющим"
  :play "Воспроизвести"
  :replay "Повтор"
  :pause "Пауза"
  :hide-timeline "Скрыть временную шкалу"}

 :renderer.attribute.impl.angle
 {:pick-angle "Выбрать угол"}

 :renderer.attribute.impl.href
 {:select-file "Выбрать файл"}

 :renderer.attribute.impl.points
 {:edit-points "Редактировать точки"}

 :renderer.frame.views
 {:main-canvas "основной холст"}

 :renderer.error.events
 {:welcome "Добро пожаловать в %1!"
  :reporting-description [:div
                          [:p "Хотели бы вы помочь нам улучшиться, отправляя
                               анонимные отчёты об ошибках? Вы можете изменить
                               свои предпочтения в любое время в нашем меню
                               \"%1\"."]
                          [:p "Для получения дополнительной информации
                               прочитайте нашу %2."]]
  :privacy-policy "политику конфиденциальности"
  :no-thank-you "Нет, спасибо"}

 :renderer.effects
 {:permission-denied "В доступе к файлу отказано."}}
