.list-item-action {
  @apply mx-px shrink-0 bg-transparent text-inherit focus:outline-hidden;
  height: 20px;
  width: 20px;
}

.list-item-button {
  @apply flex pr-1 items-center transition-none text-start;
  &:hover {
    @apply overlay;

    .list-item-action {
      visibility: visible;
    }
  }

  &.hovered {
    @apply overlay;
  }

  &:focus:not(:hover) {
    @apply outline-hidden outline-shadow;
  }
}

.tree-sidebar {
  @apply flex flex-1 bg-primary h-full overflow-hidden;

  &:hover {
    /* When the mouse is over the tree, ignore the hovered class if the element
       itself is not hovered */
    .hovered:not(:hover) {
      background-color: initial;
    }
  }
}
