.list-item-action {
  visibility: hidden;
}

.list-item-button {
  @apply flex pr-1 items-center cursor-pointer transition-none text-start;
  &:hover {
    @apply overlay;

    .list-item-action {
      visibility: visible;
    }
  }

  &.hovered {
    @apply overlay;
  }

  &:focus {
    @apply outline-none outline-shadow;
  }

  &:active {
    @apply shadow-none;
  }

  .button {
    @apply mx-px shrink-0;
    height: 20px;
    width: 20px;
    color: inherit;
    background-color: transparent !important;

    &:focus {
      @apply outline-none;
    }
  }
}

.tree-sidebar {
  @apply flex flex-1 bg-primary mr-px h-full overflow-hidden;

  &:hover {
    /* When the mouse is over the tree, ignore the hovered class if the element
       itself is not hovered */
    .hovered:not(:hover) {
      background-color: initial;
    }
  }
}

.list-item-input {
  @apply mr-1 pl-0;
  flex: 1 1 auto;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  &::placeholder {
    color: var(--font-color);
  }

  &.text-muted::placeholder {
    color: var(--font-color-disabled);
  }

  &.text-disabled::placeholder {
    color: var(--font-color-disabled);
  }

  &:focus::placeholder {
    color: var(--font-color-muted);
  }
}
