@utility form-element {
  @apply bg-primary border-0 w-full outline-none shadow-none!;

  padding: 4px 12px;
  box-sizing: border-box;
  font-size: 12px;
  color: var(--font-color) !important;

  &:hover,
  &:focus {
    @apply text-active!;
  }

  &::placeholder {
    @apply text-disabled;
  }

  &:disabled {
    @apply text-disabled!;
  }
}

@utility form-input {
  &:hover,
  &:active {
    .clear-input-button {
      visibility: visible;
    }
  }
}

@utility button {
  @apply relative text-center text-nowrap outline-default bg-transparent no-drag;
  color: var(--font-color);
  fill: var(--font-color);
  font-size: 1em;
  height: var(--button-size);
  line-height: var(--button-size);

  &:hover {
    @apply overlay;
    color: var(--font-color-hovered);
  }

  &:active {
    @apply overlay-2x;
  }

  &.accent {
    @apply bg-accent! text-accent-inverted!;

    &:hover {
      @apply bg-accent-light!;
    }
  }

  &:disabled {
    @apply cursor-default pointer-events-none text-disabled;
  }
}

@utility icon {
  @apply flex justify-center;

  svg {
    @apply fill-current;
  }
}

@utility toolbar {
  @apply flex gap-1 p-1 items-center;
}

@utility button-group {
  @apply flex gap-px;

  > .button,
  > input {
    @apply overlay m-0 rounded-none;

    &:first-child {
      @apply rounded-l;
    }

    &:last-child {
      @apply rounded-r;
    }
  }
}

@utility icon-button {
  @apply button button-size rounded-sm;

  &.small {
    @apply button-size-sm rounded-xs m-0;
  }
}

@utility resize-handle {
  @apply relative;

  &:after {
    content: '';
    display: block;
    z-index: 1;
    position: absolute;
    transition: background-color 0.3s;
  }

  &[data-panel-group-direction='vertical'] {
    @apply h-px;

    &:after {
      @apply w-full h-1;

      top: -50%;
    }
  }

  &[data-panel-group-direction='horizontal'] {
    @apply w-px;

    &:after {
      @apply h-full w-1;

      left: -50%;
    }
  }

  &[data-resize-handle-state='drag'] {
    &:after {
      @apply bg-accent;
    }
  }
}

@utility popover-content {
  @apply bg-secondary drop-shadow-lg z-10 rounded-sm break-words;
  max-width: 350px;
  border: 1px solid var(--border-color);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-state='open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }

  &[data-state='open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }

  &[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }

  &[data-state='open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }
}

@utility popover-arrow {
  fill: var(--bg-secondary);
}

@utility menu-arrow {
  fill: var(--bg-secondary);
}

@utility tooltip-content {
  @apply bg-secondary px-2 py-1 rounded-sm drop-shadow-md;
  max-width: 300px;
  border: 1px solid var(--border-color);
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-state='delayed-open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }

  &[data-state='delayed-open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }

  &[data-state='delayed-open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }

  &[data-state='delayed-open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }
}

@utility slider-thumb {
  @apply flex shadow-sm h-5 w-2 rounded-xs data-disabled:opacity-50;
  background-color: var(--font-color);

  &:focus {
    @apply outline-hidden;
    box-shadow: 0 0 0 4px var(--border-color);
  }
}

@utility dialog-content {
  @apply fixed bg-secondary rounded-lg overflow-hidden shadow-xl border border-default left-1/2 top-1/2;
  width: 500px;
  max-width: 90%;
  transform: translate(-50%, -50%);
}

@utility tab {
  @apply flex items-center h-full text-left gap-2 bg-secondary text-muted hover:text-color relative outline-none;
  padding: 0 8px 0 16px;
  flex: 0 1 130px;

  .close {
    @apply icon-button invisible relative bg-inherit;

    .dot {
      @apply absolute inset-0 bg-inherit flex items-center text-muted;
    }

    &:hover,
    &:focus {
      .dot {
        @apply hidden;
      }
    }
  }

  &:hover,
  &.active,
  &:not(.saved) {
    .close {
      @apply visible;
    }
  }

  &.active {
    @apply bg-primary text-color;
  }

  &:focus {
    @apply text-color;
  }
}

@utility form-control-button {
  @apply button bg-primary text-muted p-1 h-auto;
  width: 26px;
  height: 26px;
}

@utility color-rect {
  @apply button-size;
  border: 1px solid var(--border-color);
}

@utility color-drip {
  box-sizing: content-box;
  width: 16px;
  max-width: 16px;
  height: 16px;
  flex: 1;
}

@utility loader {
  @apply inline-block absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;

  &:after,
  &:before {
    @apply absolute top-0 left-0;
    content: '';
    width: 24px;
    height: 24px;
    border: 2px solid var(--font-color);
    animation: rotationBreak 3s ease-in-out infinite alternate;
  }

  &:after {
    @apply border-accent;
    animation-direction: alternate-reverse;
  }
}
