@font-face {
  font-family: 'Adwaita Sans';
  font-style: normal;
  src: url('../fonts/sans/AdwaitaSans-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Adwaita Sans';
  font-style: italic;
  src: url('../fonts/sans/AdwaitaSans-Italic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Adwaita Mono';
  font-style: normal;
  src: url('../fonts/mono/AdwaitaMono-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Adwaita Mono';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/mono/AdwaitaMono-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Adwaita Mono';
  font-style: italic;
  src: url('../fonts/mono/AdwaitaMono-Italic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Adwaita Mono';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/mono/AdwaitaMono-BoldItalic.ttf')  format('truetype');
}
