.loader {
  @apply inline-block absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
}

.loader::after,
.loader::before {
  @apply absolute top-0 left-0;
  content: '';
  width: 24px;
  height: 24px;
  border: 2px solid var(--font-color);
  animation: rotationBreak 3s ease-in-out infinite alternate;
}

.loader::after {
  border-color: var(--accent);
  animation-direction: alternate-reverse;
}

@keyframes rotationBreak {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
