@import 'tailwindcss';

@import 'codemirror/lib/codemirror.css';
@import 'codemirror/addon/hint/show-hint.css';
@import 'codemirror/theme/tomorrow-night-eighties.css';

@import './utilities.css';
@import './components.css';
@import './animations.css';
@import './overrides.css';

@import './theme/styles.css';
@import './menubar/styles.css';
@import './tree/styles.css';

body {
  font-size: var(--font-size);
  color: var(--font-color);
  fill: var(--font-color);
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-thumb {
  @apply overlay rounded-full;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

::-webkit-scrollbar-track {
  @apply bg-transparent hover:overlay;
}

p {
  margin-bottom: 1rem;
}

input {
  @apply form-element font-mono appearance-none;

  &:focus {
    @apply outline-hidden;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @apply appearance-none;
  }
}

textarea {
  @apply form-element w-full;
  resize: none;
}

label {
  @apply form-element block text-right h-full text-muted overflow-hidden text-ellipsis w-auto;

  &:hover {
    color: var(--font-color-hovered);
    cursor: pointer;
  }
}

a {
  @apply text-accent cursor-pointer;
  text-decoration: none;
}

pre {
  @apply font-mono;
}
