@import 'tailwindcss';

@import 'codemirror/lib/codemirror.css';
@import 'codemirror/addon/hint/show-hint.css';
@import 'codemirror/theme/tomorrow-night-eighties.css';

@import "@fontsource/noto-sans/100.css";
@import "@fontsource/noto-sans/200.css";
@import "@fontsource/noto-sans/300.css";
@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-sans/500.css";
@import "@fontsource/noto-sans/600.css";
@import "@fontsource/noto-sans/800.css";
@import "@fontsource/noto-sans/900.css";
@import "@fontsource/noto-sans/100-italic.css";
@import "@fontsource/noto-sans/200-italic.css";
@import "@fontsource/noto-sans/300-italic.css";
@import "@fontsource/noto-sans/400-italic.css";
@import "@fontsource/noto-sans/500-italic.css";
@import "@fontsource/noto-sans/600-italic.css";
@import "@fontsource/noto-sans/800-italic.css";
@import "@fontsource/noto-sans/900-italic.css";

@import "@fontsource/noto-sans-mono/400.css";


@import './utilities.css';
@import './components.css';
@import './animations.css';
@import './overrides.css';

@import './theme/styles.css';
@import './menubar/styles.css';

body {
  font-size: var(--font-size);
  color: var(--font-color);
  fill: var(--font-color);
}

p {
  margin-bottom: 1rem;
}

input {
  @apply appearance-none;

  &:focus {
    @apply outline-hidden;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @apply appearance-none;
  }
}

label {
  @apply block text-right h-full text-muted overflow-hidden text-ellipsis w-auto;

  &:hover {
    color: var(--font-color-hovered);
    cursor: pointer;
  }
}
