@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

@import "codemirror/lib/codemirror.css";
@import "codemirror/addon/hint/show-hint.css";
@import "codemirror/theme/tomorrow-night-eighties.css";

@import "utilities";
@import "components";
@import "animations";
@import "loader";

@import "theme/styles";
@import "codemirror/styles";
@import "dialog/styles";
@import "history/styles";
@import "color/styles";
@import "menubar/styles";
@import "timeline/styles";
@import "tree/styles";

body {
  @apply absolute inset-0 m-0 p-0 bg-secondary overflow-hidden select-none;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  color: var(--font-color);
  fill: var(--font-color);
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-thumb {
  @apply overlay rounded-full;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

::-webkit-scrollbar-track {
  @apply bg-transparent hover:overlay;

}

p {
  margin-bottom: 1rem;
}

input {
  @apply form-element font-mono appearance-none;

  &:focus {
    @apply outline-none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @apply appearance-none;
  }
}

textarea {
  @apply form-element w-full;
  resize: none;
}

label {
  @apply form-element block text-right h-full text-muted overflow-hidden text-ellipsis;
  width: auto;

  &:hover {
    color: var(--font-color-hovered);
    cursor: pointer;
  }
}

a {
  color: var(--accent);
  cursor: pointer;
  text-decoration: none;
}

pre {
  font-family: var(--font-mono);
}

.fps-wrapper {
  @apply drop-shadow-md;

  >div {
    @apply absolute top-2 left-auto right-2 overflow-hidden font-sans text-sm px-2 py-1.5 bg-white text-gray-500 !important;

    >div {
      @apply left-0 right-0 bottom-0 bg-white !important;

      >div {
        background-color: var(--accent) !important;
      }
    }
  }
}
