@layer utilities {
  .level-0 {
    background: var(--level-0);
  }

  .level-1 {
    background: var(--level-1);
  }

  .level-2 {
    background: var(--level-2);
  }

  .level-3 {
    background: var(--level-3);
  }

  .drag {
    -webkit-app-region: drag;
  }

  .font-sans {
    font-family: var(--font-sans);
  }

  .font-mono {
    font-family: var(--font-mono);
  }

  .overlay {
    background-color: var(--overlay);
  }

  .text-color {
    color: var(--font-color);
  }

  .text-muted {
    color: var(--font-color-muted);
  }

  .text-error {
    color: var(--text-error);
  }

  .text-warning {
    color: var(--text-warning)
  }

  .text-success {
    color: var(--text-success)
  }

  .text-disabled {
    color: var(--font-color-disabled);
  }

  .text-active {
    color: var(--font-color-active);
  }

  .border-default {
    border-color: var(--border-color);
  }
}

@layer components {
  .form-element {
    @apply level-2 border-0 w-full;

    outline: none;
    padding: 4px 12px;
    box-sizing: border-box;
    line-height: 18px;
    font-size: 12px;
    box-shadow: none !important;
    color: var(--font-color) !important;
    
    &:hover,
    &:focus {
      color: var(--font-color-active) !important;
    }

    &::placeholder {
      color: var(--font-color-disabled);
    }

    &:disabled {
      color: var(--font-color-disabled);
    }
  }

  .button {
    @apply relative border-0 p-0 cursor-pointer;
    background-color: transparent;
    color: var(--font-color);
    fill: var(--font-color);
    font-family: var(--font-color);
    font-size: 1em;
    outline: none;
    height: 33px;
    -webkit-app-region: no-drag;

    &:hover {
      cursor: pointer;
      color: var(--font-color-hovered);
    }

    &:active {
      background-color: var(--level-3);
    }

    &.selected {
      background-color: var(--level-3) !important;
      color: var(--font-color-active);
    }

    &:disabled {
      cursor: initial;
      pointer-events: none;
      color: var(--font-color-disabled);
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background: var(--level-0) !important;
  overflow: hidden;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  user-select: none;
  color: var(--font-color);
  fill: var(--font-color);

  .small {
    svg {
      width: 13px;
      height: 13px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
  @apply overlay;
}

::-webkit-scrollbar-track {
  background: transparent;
}

p {
  margin-bottom: 1rem;
}

input {
  @apply form-element font-mono;
}

input[type=range] {
  @apply m-0 level-2 appearance-none;
  padding: 5px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: col-resize;
  }
}

input[type=range] {
  &::-webkit-slider-runnable-track {
    @apply border-0 rounded-none level-1;
    height: 16px;
  }

  &::-webkit-slider-thumb {
    @apply border-0 rounded-none mt-0 appearance-none;
    height: 16px;
    width: 4px;
    background: var(--font-color);
  }
}

textarea {
  @apply form-element w-full;
  resize: none;
}

label {
  @apply form-element block text-right h-full text-muted overflow-hidden text-ellipsis;
  width: auto;

  &:hover {
      color: var(--font-color-hovered);
      cursor: pointer;
  }
}

.backdrop {
  @apply absolute inset-0; 
}

.select-trigger {
  @apply button px-2 level-3 rounded;
  height: 34px;
}


.error {
  background: var(--background-error);
}

.warning {
  background: var(--background-warning)
}

.success {
  background: var(--background-success)
}

.v-scroll {
  @apply box-border overflow-auto;

  transition: all .2s;
  
  /* scrollbar-gutter: stable; */
}

a {
  color: var(--accent);
  cursor: pointer;
  text-decoration: none;
}

pre {
  font-family: var(--font-mono);
}

.tooltip {
  @apply absolute level-3 rounded;
  z-index: 1;
  margin: 8px;
  line-height: 24px;
  padding: 0 8px;
}

.divider-v {
  margin: 0 4px;
  border-left: 1px solid var(--border-color);
  height: 28px;
}

.divider {
  margin: 4px 0;
  border-bottom: 1px solid var(--border-color)
}

.disabled {
  opacity: .5;
  cursor: initial !important;
  pointer-events: none;
}

.icon {
  display: flex;
  justify-content: center;
  
  div {
    display: flex;
    fill: inherit;
  }

  svg {
    fill: currentColor;
  }
}

.toolbar {
  @apply p-1;

  .button {
    margin: 2px;
  }
}

.button-group {
  @apply flex;

  margin: 2px;

  .button {
    @apply level-3 m-0 ml-px rounded-none;

    &:first-child {
      @apply rounded-l ml-0;
    }
  
    &:last-child {
      @apply rounded-r;
    }
  }
}

.icon-button {
  @apply button rounded;
  width: 33px;
  line-height: 33px;

  &.small {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin: 0 !important;
    border-radius: 2px !important;
  }
}

.radio-icon-button {
  &:active {
    background-color: inherit;
  }
}

.collapse-button svg {
  height: 10px;
  width: 10px;
}
            
.v-divider {
  margin: 4px;
  border-left: 1px solid var(--border-color);
  height: 28px;
}

.h-divider {
  margin: 4px;
  border-top: 1px solid var(--border-color);
  width: 28px;
}

.sidebar {
  flex: 0 0 auto;
}

.footer {
  @apply flex p-1 level-2 overflow-visible items-center mt-px;
}

.shortcut {
  flex: 1 0;
  text-align: right;
}

.command-palette {
  width: 200px;
  position: absolute;
  top: 20px;
  left: calc(50% - 100px);
}

.resizer {
  @apply relative;
}

.resize-handler {
  width: 5px;
  left: -2px;
  height: 100%;
  z-index: 1;
  cursor: ew-resize;
  position: absolute;
  transition: background-color .3s;

  &:hover,
  &:active {
    background-color: var(--accent);
  }
}

.drag-overlay {
  position: absolute;
  z-index: 1;
  cursor: ew-resize;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fps-wrapper {
  @apply drop-shadow-md;

  > div {
    @apply absolute top-2 left-auto right-2 overflow-hidden font-sans text-sm 
    px-2 py-1.5 bg-white text-gray-500 !important;

    > div {
      @apply left-0 right-0 bottom-0 bg-white !important;

      > div {
        background-color: var(--accent) !important;
      } 
    }
  }
}

.popover-content {
  @apply level-0 drop-shadow-lg z-10;
  max-width: 300px;
  border: 1px solid var(--border-color);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &.color-picker-lg {
    max-width: initial;
  }

  &[data-state='open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }
  &[data-state='open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }
  &[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  &[data-state='open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }
}

.popover-arrow,
.tooltip-arrow,
.menu-arrow  {
  fill: var(--level-0);
}

.tooltip-content {
  @apply level-0 px-2 py-1 rounded drop-shadow-md;
  max-width: 200px;
  border: 1px solid var(--border-color);
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-state='delayed-open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }

  &[data-state='delayed-open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }

  &[data-state='delayed-open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }

  &[data-state='delayed-open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }
}