@utility drag {
  -webkit-app-region: drag;
}

@utility no-drag {
  -webkit-app-region: no-drag;
}

@utility button-size {
  width: var(--button-size);
  height: var(--button-size);
}

@utility button-size-sm {
  width: var(--button-size-sm);
  height: var(--button-size-sm);
}

@utility v-divider {
  @apply m-1 border-l border-border self-stretch;
}

@utility h-divider {
  @apply m-1 border-t border-border self-stretch;
}

@utility shortcut-key {
  @apply p-1 text-2xs bg-overlay rounded-sm font-bold text-foreground-muted
  uppercase;
}

@utility button-link {
  @apply text-foreground-hovered inline-block text-left text-wrap break-all
  hover:cursor-pointer hover:underline;
}

@utility backdrop {
  @apply absolute inset-0 flex items-center justify-center bg-backdrop
  animate-in fade-in;
}

@utility form-element {
  @apply bg-primary border-0 w-full px-3 py-1 shadow-none!
  text-foreground! disabled:text-foreground-disabled!
  hover:text-foreground-hovered! focus:text-foreground-hovered! box-border
  placeholder:text-foreground-disabled;

  font-size: 12px;
}

@utility button {
  @apply relative text-center text-nowrap bg-transparent no-drag
  text-foreground fill-foreground aria-expanded:bg-overlay
  focus-visible:outline focus-visible:outline-offset-[-2px] outline-inherit;
  font-size: 1em;
  height: var(--button-size);
  line-height: var(--button-size);

  &:hover {
    @apply bg-overlay text-foreground-hovered;
  }

  &:active {
    @apply bg-overlay-2x;
  }

  &.accent {
    @apply bg-accent! text-accent-foreground!;

    &:hover {
      @apply bg-accent-light!;
    }
  }

  &:disabled {
    @apply cursor-default pointer-events-none text-foreground-disabled;
  }
}

@utility toolbar {
  @apply flex gap-0.5 p-1 items-center sm:gap-1;
}

@utility button-group {
  @apply flex rounded relative;

  > button,
  > * {
    @apply m-0 rounded-none border-l border-border;

    &:first-child {
      @apply border-l-0 rounded-l;
    }

    &:last-child {
      @apply rounded-r;
    }
  }

  &:before {
    @apply absolute inset-0 rounded border border-border;
    pointer-events: none;
    content: '';
  }
}

@utility icon-button {
  @apply button button-size rounded-sm;

  &.small {
    @apply button-size-sm rounded-xs m-0;
  }
}

@utility resize-handle {
  @apply relative;

  &:after {
    content: '';
    display: block;
    z-index: 1;
    position: absolute;
    transition: background-color 0.3s;
  }

  &[data-panel-group-direction='vertical'] {
    @apply h-px;

    &:after {
      @apply w-full h-1;

      top: -50%;
    }
  }

  &[data-panel-group-direction='horizontal'] {
    @apply w-px;

    &:after {
      @apply h-full w-1;

      left: -50%;
    }
  }

  &[data-resize-handle-state='drag'] {
    &:after {
      @apply bg-accent;
    }
  }
}

@utility popover-content {
  @apply bg-primary drop-shadow-lg z-10 rounded-sm break-words border
  border-border animate-in fade-in max-w-xs;
}

@utility tooltip-content {
  @apply bg-primary px-2 py-1 rounded-sm drop-shadow-md border border-border
  animate-in fade-in max-w-3xs;
}


@utility form-control-button {
  @apply button bg-primary text-foreground-muted p-1;
  width: 26px;
  height: 26px;
}

@keyframes rotationBreak {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@utility loader {
  @apply inline-block absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;

  &:after,
  &:before {
    @apply absolute top-0 left-0 bg-white;
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    animation: rotationBreak 3s ease-in-out infinite alternate;
  }

  &:after {
    @apply border-accent;
    animation-direction: alternate-reverse;
  }
}
