@utility bg-secondary {
  background: var(--bg-secondary);
}

@utility bg-primary {
  background: var(--bg-primary);
}

@utility fill-secondary {
  fill: var(--bg-secondary);
}

@utility fill-primary {
  fill: var(--bg-primary);
}

@utility drag {
  -webkit-app-region: drag;
}

@utility no-drag {
  -webkit-app-region: no-drag;
}

@utility overlay {
  background-color: var(--overlay);
}

@utility overlay-2x {
  background-color: var(--overlay-2x);
}

@utility text-default {
  color: var(--font-color);
}

@utility text-muted {
  color: var(--font-color-muted);
}

@utility text-disabled {
  color: var(--font-color-disabled);
}

@utility text-active {
  color: var(--font-color-active);
}

@utility border-default {
  border-color: var(--border-color);
}

@utility outline-default {
  @apply focus:outline focus:outline-offset-[-1px] hover:outline-none;
  outline-color: var(--border-color);
}

@utility button-size {
  width: var(--button-size);
  height: var(--button-size);
}

@utility button-size-sm {
  width: var(--button-size-sm);
  height: var(--button-size-sm);
}

@utility v-divider {
  @apply m-1 border-l border-default self-stretch;
}

@utility h-divider {
  @apply m-1 border-t border-default self-stretch;
}

@utility shortcut-key {
  @apply p-1 text-2xs overlay rounded-sm font-bold text-muted uppercase;
}

@utility button-link {
  @apply text-active inline-block text-left text-wrap break-all
  hover:cursor-pointer hover:underline;
}

@utility bg-backdrop {
  background: var(--color-backdrop);
}

@utility backdrop {
  @apply absolute inset-0 flex items-center justify-center bg-backdrop
  animate-show;
}
