@utility drag {
  -webkit-app-region: drag;
}

@utility no-drag {
  -webkit-app-region: no-drag;
}

@utility outline-inset {
  @apply outline-offset-[-1px];
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@utility pl-safe {
  padding-left: env(safe-area-inset-left);
}

@utility pr-safe {
  padding-right: env(safe-area-inset-right);
}

@utility pt-safe {
  padding-top: env(safe-area-inset-top);
}

@utility py-safe {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

@utility px-safe {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

@utility m-safe {
  margin: env(safe-area-inset-top)
          env(safe-area-inset-right)
          env(safe-area-inset-bottom)
          env(safe-area-inset-left);
}

@utility p-safe {
  padding: env(safe-area-inset-top)
           env(safe-area-inset-right)
           env(safe-area-inset-bottom)
           env(safe-area-inset-left);
}

@utility button-size-lg {
  min-width: var(--button-size-lg);
  min-height: var(--button-size-lg);
}

@utility button-size-md {
  min-width: var(--button-size-md);
  min-height: var(--button-size-md);
}

@utility button-size-sm {
  min-width: var(--button-size-sm);
  min-height: var(--button-size-sm);
}

@utility button-size {
  @apply button-size-lg;
}

@utility button-size-small {
  @apply button-size-md md:button-size-sm;
}

@utility v-divider {
  @apply m-1 border-l border-border self-stretch;
}

@utility h-divider {
  @apply m-1 border-t border-border self-stretch;
}

@utility button-link {
  @apply text-foreground-hovered inline-block text-left text-wrap break-all
  hover:cursor-pointer hover:underline outline-default;
}

@utility backdrop {
  @apply fixed inset-0 flex items-center justify-center bg-backdrop
  animate-in fade-in;
}

@utility form-element {
  @apply bg-primary border-0 w-full px-3 py-1 h-[27px]! shadow-none!
  text-foreground! disabled:text-foreground-disabled!
  hover:text-foreground-hovered! focus:text-foreground-hovered! box-border
  placeholder:text-foreground-disabled text-xs!;
}

@utility outline-default {
  @apply outline-foreground outline-offset-1 focus-visible:outline-1;
}

@utility button {
  @apply button-size relative text-center text-nowrap bg-transparent no-drag
  text-foreground outline-default fill-foreground aria-expanded:bg-overlay
  truncate active:bg-overlay;

  &:hover {
    @apply bg-overlay text-foreground-hovered;
  }

  &.accent {
    @apply bg-accent! text-accent-foreground!;

    &:hover {
      @apply bg-accent-light!;
    }
  }

  &:disabled {
    @apply cursor-default pointer-events-none text-foreground-disabled;
  }
}

@utility popover-content {
  @apply bg-primary drop-shadow-lg z-10 rounded-sm wrap-break-word border
  border-border animate-in fade-in max-w-xs;
}

@utility tooltip-content {
  @apply bg-primary px-2 py-1 rounded-sm drop-shadow-md border border-border
  animate-in fade-in max-w-3xs;
}

@utility form-control-button {
  @apply button bg-primary text-foreground-muted p-1 outline-inset
  min-h-[27px] min-w-[27px]!;
}
