.window-control-button {
  padding: 7px 14px;
}

.title-bar {
  @apply absolute flex justify-center drag grow h-full items-center;

  z-index: -1;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, 0);
}
